{% extends 'base.html' %}

{% block content %}
<h1>Corée Élégante - Clothing Collection</h1>
<h5>NPM: </h5>
<p>{{ npm }}<p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>
{% if not clothing_entries %}
  <p>Belum ada data item baju pada Corée Élégante.</p>
{% else %}
  <table>
    <thead>
      <tr>
        <th>Nama Item</th>
        <th>Harga</th>
        <th>Deskripsi</th>
      </tr>
    </thead>
    <tbody>
      {% for clothing_entry in clothing_entries %}
        <tr>
          <td>{{ clothing_entry.nama_item }}</td>
          <td>{{ clothing_entry.harga }}</td>
          <td>{{ clothing_entry.deskripsi }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<br />

<a href="{% url 'main:create_clothing_entry' %}">
  <button>Add New Clothing Item</button>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
  <h5>Sesi terakhir login: {{ last_login }}</h5>
</a>

{% endblock content %}